/*
Theme Name: Beaver Builder Child Theme
Theme URI: http://www.wpbeaverbuilder.com
Version: 1.0F
Description: An example child theme that can be used as a starting point for custom development.
Author: The Beaver Builder Team
Author URI: http://www.fastlinemedia.com
template: bb-theme
*/

body {
    position: relative;
}

.style-product_list .pro-container .pro-details .button-wrapper a.button.alt,
.style-product_list .pro-container .pro-details .button-wrapper a.button:hover {
    color: #fff !important;
}

.container.fl-content-full {
    margin: 0;
    padding: 0;
    width: auto;
    max-width: none;
}

.gform_wrapper li.hidden_label input {
    margin-top: 0px!important;
}

#field_16_1 input,
#field_16_2 input {
    margin-bottom: 0px!important;
}

.searchIcon {
    position: absolute;
    right: 10px;
    top: 30px;
    width: auto !important;
}

.searchIcon:hover {
    cursor: pointer!important;
}

.searchModule {
    display: none;
    position: absolute;
    right: 0;
    left: 0;
    z-index: 9;
    background: #c9c1b4;
}

.headerMain .fl-col-group {
    display: flex;
    justify-content: space-between;
}

.fullWidthBanner img {
    width: 100%;
}

.phone>a {
    font-weight: 400;
    color: #801108;
}

.fl-slideshow-image-nav-right a {
    right: -20px !important;
}

.fl-slideshow-image-nav-left a {
    left: -20px !important;
}

#responsive-menu-additional-content .phone>a {
    color: #fff;
}

.uabb-image-carousel.slick-slider .slick-track {
    display: flex;
    align-items: center;
    justify-content: center;
}

.uabb-image-carousel .slick-prev,
.uabb-image-carousel .slick-next {
    top: 60% !important;
}

.product-box .button-wrapper {
    /* display: flex; */
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.product-box .button-wrapper a.button:hover,
div.button-wrapper a.button.alt:hover {
    background: #323232 !important;
}

.gform_wrapper.gf_browser_chrome .gfield_checkbox li input,
.gform_wrapper.gf_browser_chrome .gfield_checkbox li input[type=checkbox],
.gform_wrapper.gf_browser_chrome .gfield_radio li input[type=radio] {
    margin-top: 0px !important;
}

.gform_wrapper .top_label li.gfield.gf_left_half#field_23_2,
.gform_wrapper .top_label li.gfield.gf_left_half#field_23_4,
.gform_wrapper .top_label li.gfield.gf_left_half#field_16_2 {
    padding-right: 0 !important;
}

.f-0 .fl-module-content {
    display: none;
}

header .storename .phone a span:before {
    content: "\f095";
    font: normal normal normal 14px/1 FontAwesome;
    font-size: 125%;
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
}

.iscwp-gallery-slider .slick-dots li button {
    border: 1px solid #949494;
}

.iscwp-gallery-slider .slick-dots li.slick-active button {
    background: #949494;
}

.headerMain .fl-col:not(.fl-visible-mobile) {
    flex: 2;
}

.headerMain .fl-col.headerLogo {
    flex: 1;
    margin-right: 20px;
}

.uabb-creative-menu ul#menu-main-menu li ul.sub-menu .uabb-has-submenu-container .uabb-menu-toggle {
    transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    padding-left: 0;
}

.wpsisac-slick-slider.design-1 .slick-image-slide img {
    max-height: 100%;
    margin: 0 auto;
    display: block !important;
}

.location-slider .uabb-image-carousel .uabb-image-carousel-item .uabb-gallery-img {
    max-height: 350px;
    min-height: 350px;
    margin: 0 auto;
    width: auto !important;
}

.fl-slideshow-main-nav {
    display: none !important;
}

div.button-wrapper {
    text-align: center;
}

div.button-wrapper a,
div.button-wrapper a.button,
div.button-wrapper a.button.alt,
.product-detail-layout-5 div.button-wrapper .button,
div.button-wrapper a.button.alt:hover {
    background-color: #801108;
    border-color: #801108;
    color: #fff;
    font-size: 16px;
}

div.button-wrapper a.text-right:not(.button) {
    display: inline-block;
    vertical-align: top;
    font-size: 16px;
    padding: 10px 20px;
    text-align: center;
    color: #fff !important;
    text-decoration: none;
    margin: 10px 1.5% 25px;
    width: 46%;
}

@media(min-width:992px) {
    .responsive-menu-item-link {
        color: #323232 !important;
    }
}

@media(max-width:1280px) {
    #djcustom-header #menu-main-menu li.menu-item a {
        padding-left: 5px;
        padding-right: 5px;
    }
}

@media(max-width:1199px) {
    .headerMain .fl-col.headerLogo,
    .headerMain .fl-col.headerRightNav {
        width: 100%;
        flex: auto;
        position: relative;
    }
    .headerMain .fl-col.headerLogo .fl-photo-align-left,
    .headerMain .fl-col.headerRightNav .menu {
        text-align: center;
    }
}

@media(max-width:1024px) {
    .fl-node-5d08ac826d1d6 .uabb-creative-menu .menu>li {
        margin-left: 0 !important;
        margin-right: 0 !important;
    }
    .headerMain .headerRightNav {
        margin-left: 30px;
    }
    .fl-node-5d08ac826d1d6 .uabb-creative-menu.uabb-menu-default .menu>li>.uabb-has-submenu-container>a {
        padding: 10px 8px !important;
    }
}

@media(max-width:992px) {
    .headerMain .fl-col.navMobile .fl-rich-text>p {
        text-align: right;
    }
    .searchIcon {
        position: static;
    }
    .headerMain .fl-col-group.fl-col-group-equal-height {
        padding: 10px 15px;
        display: flex;
        align-items: center;
    }
    .headerMain p {
        margin-bottom: 0;
    }
    button#responsive-menu-button {
        top: 0 !important;
        right: 0 !important;
        text-align: center;
    }
    .navMobile .fl-module>.fl-module-content {
        margin-right: 0 !important;
    }
    .headerMain .headerRightNav {
        margin: 0;
    }
    .headerMain .fl-col-group.fl-col-group-equal-height .fl-col {
        flex: 1;
    }
    .headerMain .fl-col-group.fl-col-group-equal-height .headerLogo {
        flex: 2 !important;
        margin-right: 0 !important;
    }
    .headerMain .phone.retailer {
        font-size: 26px;
        color: #42291d;
        margin-right: 30px;
        vertical-align: middle;
        font-family: 'Ultimate-Icons' !important;
        speak: none;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
    .headerMain .phone.retailer:before {
        content: "\ea3e";
    }
    .headerMain .phone.retailer span {
        font-size: 0;
    }
    .fl-slideshow-main-nav,
    .fl-slideshow-image-nav-left,
    .fl-slideshow-image-nav-right {
        opacity: 1 !important;
        display: block !important;
    }
    .full-width-img .uabb-photo-content,
    .full-width-img .uabb-image-content,
    .full-width-img .uabb-photo-content .uabb-photo-img,
    .full-width-img .uabb-image-content .uabb-photo-img {
        width: 100%;
    }
}

@media(max-width:768px) {
    .iPadFooter .fl-col-group {
        display: flex;
    }
    .iPadFooter .fl-col-group .fl-col {
        flex: 1;
    }
    ul#menu-copyright-bar-menu {
        display: flex;
        justify-content: center;
    }
    .iPadFooter .fl-node-5c6fdfb622743.fl-col-group .fl-col {
        flex: 3;
    }
    .iPadFooter .fl-node-5c6fdfb622743.fl-col-group .fl-col:nth-child(2) {
        flex: 1;
    }
    .galleryImages .uabb-photo-gallery .uabb-photo-gallery-item {
        width: 33.33%;
    }
    .galleryImages .uabb-photo-gallery {
        display: flex;
        flex-wrap: wrap;
    }
    .djcustom-header .fl-row-content-wrap .fl-col-group-custom-width .fl-col {
        width: 50% !important;
    }
    #menu-flooring-menu,
    #menu-inspiration-menu,
    #menu-about-us {
        text-align: left;
    }
    .wpsisac-slick-carousal {
        padding: 0 30px;
    }
    .fl-col-small:not(.fl-col-small-full-width) {
        max-width: 100%;
    }
}

@media(max-width:767px) {
    .highlightPoits .fl-col-group .fl-col {
        width: 100% !important;
    }
    .highlightPoits .fl-col-group .fl-col .fl-col-content {
        border: 0;
    }
    .headerRightNav .fl-node-5d230a5e00677 .fl-rich-text>p {
        margin-bottom: 0;
    }
    h2 {
        font-size: 18px;
    }
    .footermenu .menu-item p a {
        color: #FBFBFB;
        font-family: Roboto;
        font-size: 12px;
        line-height: 23px;
    }
    .fl-col-content .fl-icon-wrap .fl-icon {
        vertical-align: super;
        padding-top: 6px;
    }
    .fl-col-content .fl-icon-wrap .fl-icon .fas.fa-map-marker-alt:before {
        margin-top: 6px;
    }
}

@media(max-width:640px) {
    .flooring-products .fl-col {
        width: 100% !important;
    }
    div.button-wrapper a.text-right:not(.button) {
        display: block;
        width: auto !important;
    }
}

@media(max-width:480px) {
    .headerMain .fl-col-group.fl-col-group-equal-height .fl-col {
        flex: 0;
    }
    .headerMain .fl-col-group.fl-col-group-equal-height .headerLogo {
        flex: 5px !important;
    }
    .headerMain .phone.retailer {
        margin-right: 0;
    }
    .galleryImages .uabb-photo-gallery .uabb-photo-gallery-item {
        width: 100%;
    }
    .fl-node-5d1f5d4b47fe6 div.uabb-image-carousel .slick-next {
        right: 20px;
    }
    .fl-node-5d1f5d4b47fe6 [dir='rtl'] div.uabb-image-carousel .slick-prev {
        left: 20px;
    }
    .iPadFooter .fl-col-group {
        flex-direction: column;
    }
    .iPadFooter .fl-col-group .fl-col {
        flex: 2;
        width: 100% !important;
        text-align: center;
    }
}

@media(max-width:430px) {
    .fl-page-bar-text-1 font {
        font-size: 14px;
    }
}

@media(max-width:370px) {
    .fl-page-bar-text-1 font {
        font-size: 11px;
    }
    .fl-page-bar-text-1 i {
        font-size: 16px;
    }
}

.colors-list ul li .prod_img a {
    display: block;
}

.style-list .back-button {
    z-index: 10;
}

.uabb-tabs .uabb-content-wrap .section .uabb-tab-acc-title .uabb-title-tag {
    margin: 0;
    padding: 0;
    vertical-align: middle;
}

.uabb-tabs .uabb-content-wrap .section .uabb-content {
    padding: 0;
}

.uabb-tabs .uabb-content-wrap .section.uabb-content-current .uabb-tab-acc-title .uabb-acc-icon {
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
}

.product-detail-layout-5 .product-variations {
    margin-top: 0px !important;
}